<html lang = 'en'>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class = "blogs content">
            <h2>About</h2>
            <p class = 'text'>Welcome to All Things CS, a space where I document my personal journey in the world of computer science. 
                My name is Abdul Hamdan, and I’m currently pursuing an Honours Specialization in Computer Science and a 
                Minor in Software Engineering at the University of Western Ontario. As a full-stack developer with a passion for
                 problem-solving, I’ve created this blog to share my ongoing experiences, challenges, and victories as I dive deeper 
                 into the field of computer science</p>
        </div>
    </body>
</html>