
    <div class ="site-title">
        <a href = '/'><h1>All Things CS</h1></a>
    </div>
    <nav class = 'nav content'>
        <ul>
            <li><a class = 'page' href = "/">Home</a></li>
            <li><a class = 'page' href = "/about">About</a></li>
            <li><a class = 'page' href = "./blogs/create">New Blog</a></li>
        </ul>
    </nav>
